@model FSPACERFINAL.Models.SpacerCard

@{
    ViewData["Title"] = "Length";
}


<h2>Vertical Spacer Length: @Model.VerticalSpacerLength <br /></h2>
<h2>Horizontal Spacer Length: @Model.HorizontalSpacerLength <br /></h2>


<div class="span1">
    <a asp-action="Index" class="btn btn-primary" style="background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); font: Arial; color: White" >
        <i class="icon-eye-open icon-white"></i>
        <span><strong>View Index</strong></span>
    </a>
</div>
